.index_area {
    width: 100%;
    background-color: var(--accent-color-2);
    text-align: center;
    padding: 12px 24px;
    margin: 0;
}
.index_area_space {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 0.7vw;
}
.index_area a {
    height: 360px;
}
.index_area_space a li {
    list-style: none;
    padding: 12px 20px;
    width: 160px;
    height: 260px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    cursor: pointer;
    box-shadow: inset 0 0 0 2000px var(--overlay-dark-low);
    overflow: hidden;
    border-radius: 8px;
    display: flex;
    margin: 0.7vw 0.7vw;
    margin-bottom: 1px;
}
.index_area_space img {
    width: 18px;
}
.index_area_space a p {
    margin-left: 0.7vw;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 2px;
}
.index_area_space a h3 {
    margin-left: 0.7vw;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 0;
    padding: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    margin-top: 1px;
    margin-bottom: 0;
}
.index_area_space a li:hover {
    background-size: cover;
    background-position: center;
}
#toogle_index_layout {
    text-align: center;
}
#index-list {
    display: none;
}
.layout_switch_button {
    background-color: transparent;
}
#index {
    width: 100vw;
}