h1 {
    margin: 50px;
    font-size: 64px;
}
h2 {
    margin: 25px;
    font-size: 47px;
}
h3 {
    margin: 17px;
    font-size: 32px;
}
li, div, p {
    font-size: 23px;
}
span {
    font-size: 22px;
}

.tree {
    padding: 12px 24px;
    font-size: 32px;
}
.tree a {
    font-weight: 300;
}