flair {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 14px;
    padding-left: 14px;
    background-color: #00007f;
    border-radius: 10px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    
}