.spotlight_block {
    width: 90vw;
    object-fit: cover;
}
.spotlight_block_4 {
    width: 90vw;
    object-fit: cover;
}

.episode-release-timestamp {
    padding-left: 25vw;
    width: 20vw;
}
/* 500 - hidden Elements */
#index-preview {
    display: none;
}
.episode-release-tree {
    display: none;
}