.spotlight {
    display: flex;
    text-align: center;
    justify-items: center;
    justify-content: center;
    padding: 0 8vw;
    flex-direction: row;
    flex-wrap: wrap;
    transition: all .5s ease-in-out;
}
.spotlight_block {
    border-radius: 20px;
    width: 19.5vw;
    height: 15vh;
    overflow: hidden;
    margin: 4px 0.5vw;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    object-position: center;
    background-position: center;
}
.spotlight_block_4 {
    border-radius: 20px;
    width: 19.5vw;
    height: calc(30vh + 8px);
    overflow: hidden;
    margin: 4px 0.5vw;
    background-size: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    object-position: center;
    background-position: center;
}
#index-preview {
    position: inline-flex; 
    text-align: center; 
    justify-items: center;
}
.episode-release-timestamp {
    width: 5vw;
    left: 40%;
    text-align: center;
    position: absolute;
}
.episode-release-tree {
    float: right;
    margin-right: 3%;
}
#requests {
    display: flex;
    justify-content: center;
}