#search-line {
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
}
.result_entry {
    box-shadow: inset 0 0 0 2000px var(--overlay-dark-low);
    margin-right: 10%;
    margin-left: 10%;
}

/* Comment this Overide to have the normal background banner */
.result_entry {
    background-image: none !important;
    box-shadow: none;
}
#searching_for {
    margin-left: 15%;
}