#episode-footer-note, #based-on-votes-note {
    font-size: 18px;
    font-weight: 100;
}

#hoster li {
    height: 65px;
    width: 370px;
    padding: 6px 10px;
    border-radius: 7px;
    border: 3px solid var(--accent-color-2);
    line-height: 65px;
    font-weight: 200;
    margin-right: 8px;
    margin-left: 8px;
    margin-bottom: 5px;
}
#hoster li button {
    top: 0;
}
.shortdescription {
    font-size: 30px;
}
div#image img {
    height: 495px;
    width: 330px;
    object-fit: cover;
}
.age_recommendation {
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 23px;
}
.seriesinfo-score button h3 {
    font-size: 28px;
}