#info {
    margin-top: 2px;
}
#player {
    width: 70vw;
}
.languageswitcher {
    width: 40vw;
}
.available_language {
    width: 15vw;
}
.available_language img {
    height: 100%;
    padding: 0;
}


/* 600 - Hidden Elements */
.watched-button {
    display: none;
}
.seriesinfo-score {
    display: none;
}