.tag {
    list-style: none;
    float: left;
    margin-right: 10px;
    border-radius: 15px;
    border-color: var(--accent-color-2);
    border-style: solid;
    border-width: 3px;
    padding: 5px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    margin-top: 4px;
    /*background-color: rgba(20, 20, 20, 0.2);*/
}
.tag:hover {
    border-color: var(--accent-color-2-lighter);
}
.tagName {
    list-style: none;
    float: left;
    margin-right: 10px;
    border-radius: 15px;
    border-style: solid;
    border-width: 3px;
    border-color: transparent;
    padding: 5px;
    width: 65px;
}
.tag a {
    text-decoration: none;
}

.logoButton {
    width: 25vw;
    height: 5vh;
}
