.listswitcher {
    list-style: none;
    display: flex;
    justify-content: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
}
.listswitcher > a {
    text-decoration: none;
}
.listswitcher > a > li > h3 {
    font-weight: 400;
}
.listswitcher > a:hover > li > h3 {
    color: var(--text-color-darker);
    font-weight: 500;
}
