{% include 'resources/header.html' %}
{% include 'resources/navigationbar.html' %}
{% from "resources/macros.jinja" import getLanguage with context %}

<link rel="stylesheet" href="/rsc/css/table">

<title>{{info['name']}} • History</title>
<meta property="og:title" content="{{info['name']}} • History">
<meta property="twitter:title" content="{{info['name']}} • History">

<meta name="description" content="{{info['description']}}">
<meta name="og:description" content="{{info['description']}}">
<meta name="twitter:description" content="{{info['description']}}">

<meta name="twitter:image" content="{{info['logo']}}">
<meta name="og:image" content="{{info['logo']}}">

{% include 'pages/lists/switch.html' %}

<script src="/rsc/js/timestamp"></script>

<h1>History</h1>

<table style="width: 100%;">
    <tr>
        <th style="width: 20%;">
            Series
        </th>
        <th style="width: 20%;">
            Season
        </th>
        <th style="width: 20%;">
            Episode
        </th>
        <th style="width: 20%;">
            Stream ID
        </th>
        <th style="width: 25%;">
            Date
        </th>
    </tr>
    {% for ep in episodes %}
        
    <tr>
        <th style="width: 20%;">
            {{ep['seriesName']}}
        </th>
        <th style="width: 20%;">
            Season {{ep['seasonNumber']}}
        </th>
        <th style="width: 20%;">
            Episode {{ep['episodeNumber']}}
        </th>
        <th style="width: 20%;">
            {{ep['episode']}}
        </th>
        <th style="width: 25%;" id="episode-{{ep['episode']}}-date">
        </th>
        <script async defer>
            ts = convertTimestampToLocalTime("{{ep['date']}}");
            document.getElementById("episode-{{ep['episode']}}-date").innerHTML = ts;
        </script>
    </tr>

    {% endfor %}
</table>

{% include 'resources/footer.html' %}