{% include 'resources/header.html' %}
{% include 'resources/navigationbar.html' %}
{% from "resources/macros.jinja" import getLanguage with context %}

<title>{{info['name']}} • Subscribtions</title>
<meta property="og:title" content="{{info['name']}} • Subscribtions">
<meta property="twitter:title" content="{{info['name']}} • Subscribtions">

<meta name="description" content="{{info['description']}}">
<meta name="og:description" content="{{info['description']}}">
<meta name="twitter:description" content="{{info['description']}}">

<meta name="twitter:image" content="{{info['logo']}}">
<meta name="og:image" content="{{info['logo']}}">

{% include 'pages/lists/switch.html' %}

<link rel="stylesheet" href="/rsc/css/subscribed">

<h1>{{getLanguage('lists/subscribed/{l}/title')}}</h1>

<div id="subscribtions" class="subscribtion_list">
    {% for serie in series %}
    <a href="/stream/{{serie['id']}}">
        <li style="background-image: url({{serie['image']}});">
            <h3>
                {% if serie['name'].startswith('-') %}
                {{serie['name'][1:]}}
                {% else %}
                {{serie['name']}}
                {% endif %}
            </h3>
        </li>
    </a>
    {% endfor %}
    {% if series == [] %}
    <h4>Currently nothing is here ... Try to subscribe to a serie and come again. <a style="text-decoration: underline;" href="/index">Jump to the Index</a></h4>
    {% endif %}
</div>



<script async defer>
    function unsubscribe(series) {
        $.ajax({
            type: "POST",
            url: "/background/unsubscribe_series",
            data: {
                series: series
            },
            success: function(data) {
                window.location.reload();
            }
        })
    }
</script>

{% include 'resources/footer.html' %}