{% include 'resources/header.html' %}
{% include 'resources/navigationbar.html' %}
{% from "resources/macros.jinja" import getLanguage with context %}

<title>{{info['name']}} • Watchlist</title>
<meta property="og:title" content="{{info['name']}} • Watchlist">
<meta property="twitter:title" content="{{info['name']}} • Watchlist">

<meta name="description" content="{{info['description']}}">
<meta name="og:description" content="{{info['description']}}">
<meta name="twitter:description" content="{{info['description']}}">

<meta name="twitter:image" content="{{info['logo']}}">
<meta name="og:image" content="{{info['logo']}}">

{% include 'pages/lists/switch.html' %}



<h1>Watch List</h1>

<h3>Watchlist is comming soon!</h3>

{% include 'resources/footer.html' %}