{% include 'resources/header.html' %}
{% include 'resources/navigationbar.html' %}

<h1>New Series</h1>

<div id="add_series" style="text-align: center;">
    <form method="POST">
        <input required name="name" type="text" placeholder="Name | SeriesName">
        <br>
        <textarea name="description" placeholder="Synphosis | A long time ago ..."></textarea>
        <br>
        <input name="image" type="url" placeholder="Image | https://...">
        <br>
        <input name="banner" type="url" placeholder="Banner | https://...">
        <br>
        <div style="display: flex; justify-content: center;">
            <hr style="width: 40vw;">
        </div>
        <input name="genres" type="text" placeholder="Genres | Genre1,Genre2,Genre3,Genre4">
        <br>
        <input name="subgenres" type="text" placeholder="Subgenres | Subgenre1,Subgenre2,Subgenre3">
        <br>
        <input name="stuff" type="text" placeholder="Staff | Regiseur,Actor1,Actor2">
        <br>
        <input name="country" type="text" placeholder="Country | Japan">
        <br>
        <input name="studio" type="text" placeholder="Studio | ExampleStudio">
        <br>
        <div style="display: flex; justify-content: center;">
            <hr style="width: 40vw;">
        </div>
        <input name="alternative" type="text" placeholder="Alternative Names | SeriesNameInJapan,SeriesNameInGerman">
        <br>
        <input name="age" min="0" type="number" placeholder="Age Recommendation | 0">
        <br>
        <input name="startyear" min="1900" type="number" placeholder="Start Year | 2021">
        <br>
        <input name="endyear" min="1900" type="number" placeholder="End Year | 2022">
        <br>
        <input type="submit">
    </form>
</div>

{% include 'resources/footer.html' %}