{% include 'resources/header.html' %}
{% include 'resources/navigationbar.html' %}

<h1>Edit {{series['name']}}</h1>

<div id="edit_series" style="text-align: center;">
    <form method="POST">
        <input type="hidden" name="id" value="{{series['id']}}">
        <input required name="name" type="text" placeholder="Name | SeriesName" value="{{series['name']}}">
        <br>
        <textarea name="description" placeholder="Synphosis | A long time ago ...">{{series['description']}}</textarea>
        <br>
        <input name="image" type="url" placeholder="Image | https://..." value="{{series['image']}}">
        <br>
        <input name="banner" type="url" placeholder="Banner | https://..." value="{{series['banner']}}">
        <br>
        <hr style="width: 40vw;">
        <input name="genres" type="text" placeholder="Genres | Genre1,Genre2,Genre3,Genre4" value="{% for genre in series['genres'] %}{{genre}},{% endfor %}">
        <br>
        <input name="subgenres" type="text" placeholder="Subgenres | Subgenre1,Subgenre2,Subgenre3" value="{% for genre in series['subgenres'] %}{{genre}},{% endfor %}">
        <br>
        <input disabled name="stuff" type="text" placeholder="Staff | Regiseur,Actor1,Actor2">
        <br>
        <input name="country" type="text" placeholder="Country | Japan" value="{{series['country']}}">
        <br>
        <input name="studio" type="text" placeholder="Studio | ExampleStudio" value="{{series['studio']}}">
        <br>
        <hr style="width: 40vw;">
        <input name="alternative" type="text" placeholder="Alternative Names | SeriesNameInJapan,SeriesNameInGerman" value="{% for genre in series['alternative'] %}{{genre}},{% endfor %}">
        <br>
        <input name="age" min="0" type="number" placeholder="Age Recommendation | 0" value="{{series['age']}}">
        <br>
        <input disabled name="startyear" type="number" placeholder="Start Year | 2021">
        <br>
        <input disabled name="endyear" type="number" placeholder="End Year | 2022">
        <br>
        <input type="submit">
    </form>
</div>

{% include 'resources/footer.html' %}