{% include 'resources/header.html' %}
{% include 'resources/navigationbar.html' %}

{% include 'resources/streaminfo.html' %}

<div id="seasons" style="text-align: center;">
    {% for seasonx in seriesinfo['seasons'] %}
    {% if seasonNumber | string == seasonx | string %}
    {% if season['episodes'] | list == watchedEpisodes %}
    <a style="text-decoration: none;" href="/stream/{{seriesinfo['id']}}/{{seriesinfo['seasons'][seasonx]['number']}}"><button style="background-color: var(--accent-color-2-darker);">{% if seriesinfo['seasons'][seasonx]['name'] != '' %}{{seriesinfo['seasons'][seasonx]['name']}}{% else %}{{seriesinfo['seasons'][seasonx]['number']}}{% endif %}</button></a>
    {% else %}
    <a style="text-decoration: none;" href="/stream/{{seriesinfo['id']}}/{{seriesinfo['seasons'][seasonx]['number']}}"><button style="background-color: var(--accent-color-2-darker);">{% if seriesinfo['seasons'][seasonx]['name'] != '' %}{{seriesinfo['seasons'][seasonx]['name']}}{% else %}{{seriesinfo['seasons'][seasonx]['number']}}{% endif %}</button></a>
    {% endif %}
    {% else %}
    <a style="text-decoration: none;" href="/stream/{{seriesinfo['id']}}/{{seriesinfo['seasons'][seasonx]['number']}}/1"><button>{% if seriesinfo['seasons'][seasonx]['name'] != '' %}{{seriesinfo['seasons'][seasonx]['name']}}{% else %}{{seriesinfo['seasons'][seasonx]['number']}}{% endif %}</button></a>
    {% endif %}
    {% endfor %}
    {% if 'id' in session and session['perms']['links'] == True %}
    <a style="text-decoration: none;" href="/stream/{{seriesinfo['id']}}/add"><button>+</button></a>
    {% endif %}
</div>

<div id="episodes" style="text-align: center;">
    {% for episode in season['episodes'] %}
        {% if episodes[0]['number'] | string == episode | string %}
            {% if episode | string in watchedEpisodes %}
                <a style="text-decoration: none;" href="/stream/{{seriesinfo['id']}}/{{seasonNumber}}/{{episode}}"><button style="background-color: var(--watched-active);">{{episode}}</button></a>
            {% else %}
                <a style="text-decoration: none;" href="/stream/{{seriesinfo['id']}}/{{seasonNumber}}/{{episode}}"><button style="background-color: var(--accent-color-2-darker);">{{episode}}</button></a>
            {% endif %}
        {% else %}
            {% if episode | string in watchedEpisodes %}
                <a style="text-decoration: none;" href="/stream/{{seriesinfo['id']}}/{{seasonNumber}}/{{episode}}"><button style="background-color: var(--watched);">{{episode}}</button></a>
            {% else %}
                <a style="text-decoration: none;" href="/stream/{{seriesinfo['id']}}/{{seasonNumber}}/{{episode}}"><button>{{episode}}</button></a>
            {% endif %}
        {% endif %}
    {% endfor %}
    {% if 'id' in session and session['perms']['links'] == True %}
    <a style="text-decoration: none;" href="/stream/{{seriesinfo['id']}}/{{seasonNumber}}/add"><button>+</button></a>
    {% endif %}
</div>


<div id="series">
    <div style="display: flex;" class="middle">
        <div class="languageswitcher">
            {% for episode in episodesUL %}
            <button class="available_language" onclick="switchStreamId('{{episode['id']}}');">
                {{episode['language']}}
            </button>
            {% endfor %}
        </div>
        {% if 'id' in session %}
        <div style="position: absolute; right: 12%;" class="watched-button">
            <button {% if watched == True %}style="display: none;"{% endif %} id="watchedbutton" onclick="markaswatched();">
                <i class="fa fa-eye"></i>
            </button>
            <button {% if watched == False %}style="display: none;"{% endif %} id="unwatchedbutton" class="accent" onclick="markasunwatched();">
                <i class="fa fa-eye-slash"></i>
            </button>
        </div>
        {% endif %}
    </div>
    <script async defer>
        function markaswatched() {
            episode = parseInt("{{episodes[0]['id']}}");
            $.ajax({
                type: "POST",
                url: "/background/set_completed_episode",
                data: {
                    episode: episode,
                    series: "{{seriesinfo['id']}}",
                    episodeNumber: "{{episodes[0]['number']}}",
                    seasonNumber: "{{seasonNumber}}",
                    season: "{{episodes[0]['season']}}",
                    seriesName: "{{seriesinfo['name']}}"
                },
                success: function(data) {
                    document.getElementById('watchedbutton').style.display = 'none';
                    document.getElementById('unwatchedbutton').style.display = 'block';
                },
                error: function(data) {
                    
                }
            })
        }
        function markasunwatched() {
            episode = parseInt("{{episodes[0]['id']}}");
            $.ajax({
                type: "POST",
                url: "/background/del_completed_episode",
                data: {
                    episode: episode
                },
                success: function(data) {
                    document.getElementById('watchedbutton').style.display = 'block';
                    document.getElementById('unwatchedbutton').style.display = 'none';
                },
                error: function(data) {
                    
                }
            })
        }
        if (document.getElementById('unwatchedbutton').style.display === 'none') {
            setTimeout(function () {
                markaswatched();
            }, (5 * 60 * 1000));
        }
    </script>
    
    <br>
    <input type="hidden" id="current_language" value="">
    <div id="stream" style=" text-align: center;">
        <h3 id="episode-name">Title</h3>
        <div style="display: flex; align-items: center; justify-content: center;">
            <iframe id="player" allowfullscreen frameborder="0" scrolling="no" type="text/html" src="">
            </iframe>
            <video width="70vw" id="video" style="display: none;" controls src=""></video>
            <button id="external" style="display: none;"><a id="external-link" href="/home">Unsupported Link, Jump There</a></button> 
        </div>
    </div>
        
    <div id="hoster">
        {% for episode in episodes %}
            <li class="hoster_switcher hoster_switcher_{{episode['language']}}" onclick="switchStreamId('{{episode['id']}}');">
                <div id="hoster_switcher_{{episode['id']}}" class="hostername">
                    <i style="margin-right: 5px; margin-left: 4px;" class="fa-solid fa-play"></i>{{episode['hoster']}}
                </div>
                <button>Open Video</button>
            </li>
        {% endfor %}
    </div>

    {% if 'id' in session %}
    <span style="font-size: xx-small; font-weight: 100;">
        {% if 'language' in session %}{{info['language']['stream']['player'][session['language']]['autosave']}}{% else %}{{info['language']['stream']['player'][info['defaultlanguage']]['autosave']}}{% endif %}
        | <a style="text-decoration: underline;" onclick="reportStream();">Report</a>
    </span>
    {% endif %}
    <br>
    <p id="episode-description" style="font-style: italic;">Description</p>
</div>

<script>
    function switchStreamId(id) {
        var streams = {
            {% for episode in episodes %}
            "{{episode['id']}}": "{{episode['link']}}",
            {% endfor %}
        }
        var titles = {
            {% for episode in episodes %}
            "{{episode['id']}}": "{{episode['name']}}",
            {% endfor %}
        }
        var descs = {
            {% for episode in episodes %}
            "{{episode['id']}}": "{{episode['description']}}",
            {% endfor %}
        }
        var langs = {
            {% for episode in episodes %}
            "{{episode['id']}}": "{{episode['language']}}",
            {% endfor %}
        }
        document.getElementById('current_language').value = langs[id];

        $('.hoster_switcher').each(function(i, obj) {
            obj.style.display = 'none';
        });
        $('.hoster_switcher_' +  langs[id]).each(function(i, obj) {
            obj.style.display = 'flex';
        });

        title = document.getElementById('episode-name');
        if (titles[id] === '') {
            title.innerHTML = 'Episode {{episodeNumber}}';
        } else {
            title.innerHTML = titles[id];
        }
        description = document.getElementById('episode-description');
        description.innerHTML = descs[id];
        e = document.getElementById('player');
        b = document.getElementById('external');
        v = document.getElementById('video');
        var link = streams[id];
        if (link.includes('youtube.com/')) {
            e.src = 'https://www.youtube.com/embed/' + link.split("v=")[1] + '?autoplay=0&fs=0&iv_load_policy=3&showinfo=0&rel=0&cc_load_policy=0&start=0&end=0';
            e.style.display = 'block';
            b.style.display = 'none'
            v.style.display = 'none';
        } else if (link.endsWith('.mp4')) {
            e.style.display = 'none';
            b.style.display = 'none';
            v.style.display = 'block';
            v.src = link;
            v.width = screen.width / 2;
            v.height = screen.height /2;
        } else if(link.includes('voe.sx/')) {
            if(link.includes('/e/')) {
                e.src = link;
            } else {
                e.src = 'https://voe.sx/e/' + link.split('voe.sx/')[1];
            }
            e.style.display = 'block';
            b.style.display = 'none'
            v.style.display = 'none';
        } else if(link.includes('vivo')) {
            alert('vivo link suppot comming soon')
        } else if(link.includes('vidoza')) {
            alert('vidoza link suppot comming soon')
        } else if(link.includes('streamtape')) {
            e.src = link;
            e.style.display = 'block';
            b.style.display = 'none'
            v.style.display = 'none';
        } else {
            e.style.display = 'none';
            b.style.display = 'block';
            v.style.display = 'none';
            document.getElementById('external-link').href = link;
        }
    }
    function reportStream() {
        alert('comming soon');
    }
    function viewcounterplus() {
        $.ajax({
            type: "POST",
            url: "/background/viewcountadd",
            data: {
                series: "{{seriesinfo['id']}}",
                seasonNumber: "{{seasonNumber}}",
                episodeNumber: "{{episodeNumber}}"
            },
            success: function(data) {
                
            },
            error: function(data) {
                console.log('bad request')
            }
        })
    }
    switchStreamId({{episodes[0]['id']}});
    setTimeout(function () {
                viewcounterplus();
    }, (5 * 60 * 1000));
</script>

<script async defer src="/rsc/languagereplacements"></script>

<div id="our-links" style="margin-left: 10%; margin-right: 10%; margin-top: 5%; text-align: center;">
    <h2>Our Links</h2>
    <div id="our-links-box" style="display: flex; justify-content: center; flex-wrap: wrap;">
        <div id="website">
            <a href="{{info['website']}}"><button class="logoButton">Website</button></a>
        </div>
        <div id="discord">
            <a href="{{info['discord']}}"><button class="logoButton">Discord</button></a>
        </div>
        <div id="patreon">
            <a href="{{info['patreon']}}"><button class="logoButton">Patreon</button></a>
        </div>
        <br>
        <div id="instragram">
            <a href="{{info['instragram']}}"><button class="logoButton">Instragram</button></a>
        </div>
        <div id="facebook">
            <a href="{{info['facebook']}}"><button class="logoButton">Facebook</button></a>
        </div>
        <div id="twitter">
            <a href="{{info['twitter']}}"><button class="logoButton">Twitter</button></a>
        </div>
    </div>    
</div>

<div id="social">
    
</div>

{% include 'resources/footer.html' %}