{% include 'resources/header.html' %}
{% include 'resources/navigationbar.html' %}

{% include 'resources/streaminfo.html' %}


<div id="seasons" style="text-align: center;">
    {% for season in seriesinfo['seasons'] %}
    <a style="text-decoration: none;" href="/stream/{{seriesinfo['id']}}/{{seriesinfo['seasons'][season]['number']}}"><button>{% if seriesinfo['seasons'][season]['name'] != '' %}{{seriesinfo['seasons'][season]['name']}}{% else %}{{seriesinfo['seasons'][season]['number']}}{% endif %}</button></a>
    {% endfor %}
    {% if 'id' in session and session['perms']['links'] == True %}
    <a style="text-decoration: none;" href="/stream/{{seriesinfo['id']}}/add"><button>+</button></a>
    {% endif %}
</div>

<h1>{{season['name']}}</h1>
<p style="font-style: italic;">{{season['description']}}</p>

<hr>


<h2 style="text-align: center;">Available Episodes</h2>

<div id="episodes" style="text-align: center;">
    <table class="episodeList" style="margin-right: 10%; margin-left: 10%;">
        <tr>
            <th style="width: min-content;">
                
            </th>
            <th style="width: 20vw;">
                Name
            </th>
            <th style="width: 20vw;">
                Description
            </th>
            <th style="width: 20vw;">
                Language
            </th>
            <th style="width: 20vw;">
                Score
            </th>
            {% if 'perms' in session and session['perms']['links'] == True %}
            <th style="width: 5vw;">
                Actions
            </th>
            {% endif %}
        </tr>
        {% for episode in season['episodes'] %}
        <tr>
            <th>
                <a style="text-decoration: none;" href="/stream/{{seriesinfo['id']}}/{{seasonNumber}}/{{episode}}"><button>{{episode}}</button></a>
            </th>
            <th>
                {{season['episodes'][episode][0]['name']}}
            </th>
            <th style="font-style: italic; font-weight: lighter;">
                {{season['episodes'][episode][0]['description'][:100]}}
                {{season['episodes'][episode][0]['description'][100:201]}}
            </th>
            <th>
                {% for e in season['episodes'][episode] %}
                {% if e == season['episodes'][episode][-1] %}
                {{e['language']}}
                {% else %}
                {{e['language']}}, 
                {% endif %} 
                {% endfor %}
            </th>
            <th>
                Comming Soon
            </th>
            {% if 'perms' in session and session['perms']['links'] == True %}
            <th>
                <button onclick="deleteEpisode({{episode}}, {{season['episodes'][episode]}});"><i class="fa-solid fa-trash"></i></button>
            </th>
            {% endif %}
        </tr>
        {% endfor %}
        {% if 'id' in session and session['perms']['links'] == True %}
        <tr>
            <th>
                <a style="text-decoration: none;" href="/stream/{{seriesinfo['id']}}/{{seasonNumber}}/add"><button>+</button></a>
            </th>
            <th>
                Add a new Episode to this Season
            </th>
            <th style="font-style: italic; font-weight: lighter; width: 40vw;">
                Click on the + Button to add an Episode.
                If you want to add a new stream or language to an existing episode, use in the add dialog the existing episode number.
            </th>
            <th>
                Not Scored
            </th>
            {% if 'perms' in session and session['perms']['links'] == True %}
            <th>
                
            </th>
            {% endif %}
        </tr>
        {% endif %}
    </table>
</div>
{% if 'perms' in session and session['perms']['links'] == True %}
<style>
    #delete-dialog {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        top: 0;
        left: 0;
    }
    #delete-dialog-center {
        position: absolute;
        top: 20vh;
        width: 80%;
        margin: 0 10%;
        height: 60%;
        background-color: var(--background-color);
        overflow-y: visible;
    }
    #delete-dialog-close {
        position: absolute;
        right: 30px;
        top: 20px;
        font-size: x-large;
        cursor: pointer;
    }
    #delete-dialog-close:hover {
        color: red;
    }
</style>
<div id="delete-dialog" class="overlay_dark_x">
    <div id="delete-dialog-center">
        <div id="delete-dialog-close" onclick="document.getElementById('delete-dialog').style.display = 'none';">X</div>
        <div class="middle">
            <h2>Delete Episode</h2>
            <span id="delete-warning"></span>
            <br>
            <h4 id="delete-episode-name">Episode ?</h4>
            <br><br>
        </div>
        
        <div id="delete-episode-stream"> 
        </div>
        <br><br>
    </div>
</div>
<script>
    function deleteEpisode(episode, episodeInfo) {
        document.getElementById('delete-dialog').style.display = 'block';
        document.getElementById('delete-warning').innerHTML = "Select the Streams you want to delete.<br>Let everything selected if you want to delete the complete episode.".replace('{episode}', episode);
        document.getElementById('delete-episode-name').innerHTML = 'Episode ' + episode;
        stream = document.getElementById('delete-episode-stream');
        stream.innerHTML = '';
        deleteButtonFunction = '';
        for (e in episodeInfo) {
            ep = episodeInfo[e];
            stream.innerHTML += `
            <label style="margin-left: 45%;" class="checkbox_container">` + ep['language'] + ' - ' + ep['hoster'] + `
                <input id="delete_stream_check_` + ep['id'] + `" type="checkbox" checked="checked">
                <span class="checkmark"></span>
            </label>
            `;
            deleteButtonFunction += 'finaleTryDeleteStream(' + ep['id'] + ');'
        }
        deleteButtonFunction += 'window.location.reload();'
        document.getElementById('delete-dialog-center').innerHTML += '<div class="middle"><button style="position: absolute; bottom: 20px;" onclick="' + deleteButtonFunction + '">Delete</button></div>';
    }
    function finaleDeleteStream(stream) {
        $.ajax({
            type: "POST",
            url: "/background/del_stream",
            data: {
                stream: stream
            }
        })
    }
    function finaleTryDeleteStream(stream) {
        if (document.getElementById('delete_stream_check_' + stream).checked) {
            finaleDeleteStream(stream);
        } else {
            
        }
    }
</script>
{% endif %}

{% include 'resources/footer.html' %}