{% include 'resources/header.html' %}
{% include 'resources/navigationbar.html' %}

<h1>{{genre}}</h1>

<link rel="stylesheet" href="/rsc/css/tags">
<link rel="stylesheet" href="/rsc/css/table">
<link rel="stylesheet" href="/rsc/css/index">

<div id="tiggle_index" class="index_area_space">
    {% for serie in series %}
    <div id="{{serie['id']}}" style="padding: 5px;">
        <!-- <h2 class="index_area">{{serie['name'].upper()}}</h2> -->
        <div class="index_area_space">
            <a style="text-decoration: none;" href="/stream/{{serie['id']}}/1/1"><li style="background-image: url({{serie['image']}});">
                <h3>
                    {% if serie['name'].startswith('-') %}{{serie['name'][1:]}}{% else %}{{serie['name']}}{% endif %}
                </h3>
            </li></a>
        </div>
        
    </div>
    {% endfor %}
</div>

<div id="list_index" style="display: none;">
    {% for serie in series %}
    <a href="/stream/{{serie['id']}}" style="text-decoration: none;">
        <div class="lent"{% if serie['banner'].startswith('http') %} style="background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('{{serie['banner']}}');"{% endif %}>
            
            <img src="{{serie['image']}}">
            <h2>{% if serie['name'].startswith("-") %}{{serie['name'][1:]}}{% else %}{{serie['name']}}{% endif %}</h2>
            <div style="float: right;">
                {% for genre in range(serie['genres']|length) %}
                {% if genre > 7 %}
                <a href="/genre/{{serie['genres'][genre]}}">
                    <li class="tag" style="display: none;" id="{{serie['id']}}-{{genre}}">
                        {{serie['genres'][genre]}}
                    </li>
                </a>
                {% else %}
                <a href="/genre/{{serie['genres'][genre]}}">
                    <li class="tag" id="{{serie['id']}}-{{genre}}">
                        {{serie['genres'][genre]}}
                    </li>
                </a>
                {% endif %}
                {% endfor %}

                {% if serie['genres']|length > 8 %}
                <li class="tag" id="{{serie['id']}}-showall" onclick="{% for id in range(serie['genres']|length) %}document.getElementById('{{serie['id']}}-{{id}}').style.display = 'block';{% endfor %}document.getElementById('{{serie['id']}}-showall').style.display = 'none';">
                    &{{serie['genres']|length - 8}} more
                </li>
                {% endif %}     
            </div>
            <span>{{serie['description'][:200]}}</span>
        </div>
    </a>
    {% endfor %}
</div>

<script async defer>
    tiggle_index = document.getElementById('tiggle_index');
    list_index = document.getElementById('list_index');

    function sw_tiggle() {
        list_index.style.display = 'none';
        tiggle_index.style.display = 'flex';
    }
    function sw_list() {
        tiggle_index.style.display = 'none';
        list_index.style.display = 'block';
    }

</script>

{% include 'resources/footer.html' %}