{% include 'resources/header.html' %}
{% include 'resources/navigationbar.html' %}

<link rel="stylesheet" href="/rsc/css/tags">
<link rel="stylesheet" href="/rsc/css/table">
<link rel="stylesheet" href="/rsc/css/search">

<script src="/rsc/js/parameter"></script>

<h1>Search</h1>
<div id="search-line">
    <input type="search" id="search" autofocus name="q" onkeyup="searchQuery();" placeholder="Type to search ...">
</div>

<br>

<div id="results">
    
</div>

<script>
    query = findGetParameter('q');
    search = document.getElementById('search');
    if (query !== null) {
        search.value = query.replace('+', ' ');
    }
</script>

<script>
    function searchQuery() {
        search = document.getElementById('search');
        query = search.value.toLowerCase();
        result = document.getElementById('results');

        if (query === '') {
            result.innerHTML = '';
            return;
        }

        $.ajax({
            type: "POST",
            url: "/search",
            data: {
              query: query
            },
            success: function(data) {
              result.innerHTML = data;
            },
            error: function(data) {
              // Server error, e.g. 404, 500, error
              alert('server error!' + data.responseText);
            }
          });
    }
</script>

<script>
    searchQuery();
</script>

{% include 'resources/footer.html' %}