{% include 'resources/header.html' %}
{% include 'resources/navigationbar.html' %}

<script>
  document.title = '{{info["name"]}} - Search';
</script>

<link rel="stylesheet" href="/rsc/css/tags">
<link rel="stylesheet" href="/rsc/css/table">
<link rel="stylesheet" href="/rsc/css/search">
<!-- Overrides -->
<link rel="stylesheet" href="/rsc/css/search_600" media="screen and (max-width: 600px)">

<script src="/rsc/js/parameter"></script>

<h1>{% if 'language' in session %}{{info['language']['search'][session['language']]['title']}}{% else %}{{info['language']['search'][info['defaultlanguage']]['title']}}{% endif %}</h1>
<div id="search-line">
    <input type="search" id="search" autofocus name="q" onkeyup="searchQuery();" placeholder="{% if 'language' in session %}{{info['language']['search'][session['language']]['type_to_search']}}{% else %}{{info['language']['search'][info['defaultlanguage']]['type_to_search']}}{% endif %} ...">
</div>

<br>
<h2 id="searching_for"></h2>

<div id="results">
    
</div>

<script>
    query = findGetParameter('q');
    search = document.getElementById('search');
    if (query !== null) {
        search.value = query.replace('+', ' ');
    }
</script>

<script>
    function searchQuery() {
        search = document.getElementById('search');
        query = search.value.toLowerCase();
        result = document.getElementById('results');
        if (query === '') {
            result.innerHTML = '';
            document.getElementById('searching_for').innerHTML = '{% if 'language' in session %}{{info['language']['search'][session['language']]['type_to_search']}}{% else %}{{info['language']['search'][info['defaultlanguage']]['type_to_search']}}{% endif %}';
            return;
        }
        document.getElementById('searching_for').innerHTML = '{% if 'language' in session %}{{info['language']['search'][session['language']]['search_results_for']}}{% else %}{{info['language']['search'][info['defaultlanguage']]['search_results_for']}}{% endif %} "<b>' + query + '</b>"';

        $.ajax({
            type: "POST",
            url: "/search",
            data: {
              query: query
            },
            success: function(data) {
              result.innerHTML = data;
            },
            error: function(data) {
              // Server error, e.g. 404, 500, error
              alert('server error!' + data.responseText);
            }
          });
    }
</script>

<script>
    searchQuery();
</script>

{% include 'resources/footer.html' %}