
<style>
  #codeinput {
    letter-spacing: 42px;
    text-align: left;
    border: 0;
    overflow: hidden;
    background-image: linear-gradient(to left, var(--accent-color-2) 70%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 50px 1px;
    background-repeat: repeat-x;
    background-position-x: 35px;
    width: 260px;
    max-width: 260px;
    outline: none;
  }
</style>

<div style="display: flex; justify-content: center;">
  <form method="POST" id="tfacode">
      {% if username %}
      <input type="hidden" name='username' value="{{username}}">
      {% endif %}
      {% if pwd %}
      <input type="hidden" name='pwd' value="{{pwd}}">
      {% endif %}
      <input
      id="codeinput" name="code"
      type="text" autofocus
      inputmode="numeric" autocomplete="one-time-code" pattern="[0-9]*"
      minlength="6" maxlength="6" 
      onscroll="document.getElementById('submit').focus();"
      oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
      onKeyPress="if(this.value.length==6) return false;">
    <br><br>
    {% if not hide2fasendbutton %}
    <div style="text-align: center;">
      <input id="submit" type="submit">
    </div>
    {% endif %}
  </form>
</div>