
<div id="logindialog" class="overlay_dark overlay_blur" style="background-color: var(--background-color-60);">
    <h1 style="margin-top: 10%; margin-bottom: 20px;">Login</h1>
    <input class="loginInput" id="login_user" type="text" placeholder="E-Mail / Username"><br>
    <input class="loginInput" id="login_pwd" type="password" placeholder="Password"><br>
    <br>
    <button class="loginButton" onclick="trylogin();">Login</button>
    <i onclick="hideLoginDialog();" style="position: absolute; top: 50px; right: 50px; cursor: pointer;" class="fa-solid fa-x fa-2x hoverred"></i>
</div>
<div id="login2fadialog" class="overlay_dark overlay_blur" style="background-color: var(--background-color-60);">
    <h1 style="margin-top: 10%; margin-bottom: 20px;">2 Factor Authentification</h1>
    {% set hide2fasendbutton=True %}
    {% include 'resources/2fa.html' %}
    <button id="submit" class="loginButton" onclick="try2falogin();">Login</button>
    <i onclick="hide2FALoginDialog();" style="position: absolute; top: 50px; right: 50px; cursor: pointer;" class="fa-solid fa-x fa-2x hoverred"></i>
</div>

<script async defer>
    logindialog = document.getElementById('logindialog');
    loginbutton = document.getElementById('login_button_redirect');
    login2fadialog = document.getElementById('login2fadialog');

    function loginFunction(e) {
        e.preventDefault(); // Prevent Redirect to /
        logindialog.style.display = 'block';
        document.getElementById("login_user").focus();
    }
    function hideLoginDialog() {
        logindialog.style.display = 'none';
    }
    function trylogin() {
        user = document.getElementById("login_user").value;
        pwd = document.getElementById("login_pwd").value;
        $.ajax({
            type: "POST",
            url: "/login",
            data: {
                js: true,
                user: user,
                pwd: pwd
            },
            success: function(data) {
                if (data === 'ok') {
                    window.location.reload();
                } else if (data === 'invalid') {
                    sendNotification('error', 'Invalid Login', 'The Login Data you\'ve entered is wrong!', 10000);
                    pwd = '';
                } else if (data === '2fa') {
                    req2falogininp();
                } else {
                    window.location.href = '/login';
                }
            }
        })
    }
    function try2falogin() {
        code = document.getElementById('codeinput').value;
        user = document.getElementById("login_user").value;
        pwd = document.getElementById("login_pwd").value;
        $.ajax({
            type: "POST",
            url: "/login",
            data: {
                js: true,
                username: user,
                pwd: pwd,
                code: code
            },
            success: function(data) {
                if (data === 'ok') {
                    window.location.reload();
                } else if (data === 'invalid') {
                    sendNotification('error', 'Invalid 2 FA Code', 'The 2 FA Code that you have entered is invalid!', 10000);
                    code = '';
                } else if (data === 'vermail') {
                    sendNotification('error', 'Mail not Verified', 'You doesnt have verified your mail so far!', 10000);
                    code = '';
                } else {
                    console.log(data);
                    //window.location.href = '/login';
                }
            }
        });
    }
    function hide2FALoginDialog() {
        login2fadialog.style.display = 'none';
    }
    function show2FALoginDialog() {
        login2fadialog.style.display = 'block';
        document.getElementById('codeinput').focus();
    }
    function req2falogininp() {
        hideLoginDialog();
        show2FALoginDialog();
    }

    /* Will add the Login Button Event to the Button */
    loginbutton.addEventListener('click', loginFunction);
    logindialog.addEventListener('keydown', function(e) {
        let keyCode = e.keyCode;
        if (keyCode === 27) {
            hideLoginDialog();
        }
    });
</script>

<style>
    #logindialog, #login2fadialog {
        position: fixed;
        text-align: center;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: none;
        z-index: 1;
    }
</style>