{%- macro getLanguage(path) -%}
    {#
     {l} in the path will be replaced by the language
     info['language'] is not required
     subpathes should be splittet via /
     e.g. links/elements/{l}/season
     {{getLanguage('links/elements/{l}/season')}}
     #}
    {%- set ns = namespace(lang=info['language']) -%}  
    
    {% if 'language' in session %}
        {% set path = path.replace('{l}', session['language']) %}
    {%- else -%}
        {%- set path = path.replace('{l}', info['defaultlanguage']) -%}  
    {%- endif -%}
    {%- for p in path.split('/') -%}
        {%- if p in ns.lang -%}
            {%- set ns.lang = ns.lang[p] -%}
        {%- else -%}}
            error
        {%- endif -%}
    {% endfor %}
{{ns.lang}}
{%- endmacro -%}

{% macro json(jsondata) -%}
    <pre><code><script>
    beatifiedjson = JSON.stringify({{jsondata}}, null, 4);
    document.write(beatifiedjson);
    </script></pre></code>   
{%- endmacro %}

{% macro loginRequired() -%}
    {# 
        This will send the Notification that Login is required
        Embed this in a javascript environment
        E.g
        <script>
        function nonsense() {
            {{loginRequired()}}
        }
        </script>
    #}
sendNotification('warning', '{{getLanguage('notifications/loginrequired/{l}/title')}}', '{{getLanguage('notifications/loginrequired/{l}/text') | safe}}', 5000);
{%- endmacro %}