{% from "resources/macros.jinja" import getLanguage with context %}

<link rel="stylesheet" href="/rsc/css/navigationbar">
<!-- Overrides -->
<link rel="stylesheet" media="screen and (max-width: 700px)"  href="/rsc/css/navigationbar_700">
<link rel="stylesheet" media="screen and (min-width: 3500px) and (min-height: 2000px)" href="/rsc/css/navigationbar_3500x2000">
<link rel="stylesheet" media="screen and (min-width: 7000px) and (min-height: 4000px)" href="/rsc/css/navigationbar_7000x4000">

<header>
    <script>
        var isforcedvisible = false;
        function showaccountdropdownmenu() {
            if (isforcedvisible === false) {
                e = document.getElementById('accountdropdownmenu')
                e.style.display = 'block'
                isforcedvisible = true;
            } else {
                e = document.getElementById('accountdropdownmenu')
                e.style.display = 'none'
                isforcedvisible = false;
            }
            
        }
        
    </script>
    
    <ul class='navbar' id="navbar-pc">
        <div id="navbar_logo_container" class="navbar_logo_container"><div onclick="document.location.href = '/home';" id="navbar_logo" style="background-image: url('{{info['logo']}}');"></div></div>
        <div class="ym {% if 'id' in session %}navbar_middle_container{% else %}navbar_middle_container_login{% endif %}" id="navbar_middle_container">
            <li class='navbar'><a class='navbar' href="/index"><i class="fa-solid fa-circle-play"></i> {{getLanguage('navbar/index/{l}/title')}}</a></li>
            <li class='navbar'><a class='navbar' href="/search"><i class="fa-solid fa-magnifying-glass"></i> {{getLanguage('navbar/search/{l}/title')}}</a></li>
            <li class='navbar'><a class='navbar' href="/{{getLanguage('links/direct/{l}/requests')}}"><i class="fa-solid fa-star"></i> {{getLanguage('navbar/reqs/{l}/title')}}</a></li>
            
            {% if 'id' in session and session['perms']['admin'] == True%}
            <!-- Admin Menu -->
            <li class="dropdown navbar">
                <a href="javascript:void(0)" class="dropbtn navbar"><i class="fa-solid fa-shield"></i> Admin</a>
                <div class="dropdown-content navbar resetRight">
                    <a class='navbar' href="/admin"><i class="fa-solid fa-shield"></i> {{getLanguage('navbar/admin/{l}/title')}}</a>
                    <a class='navbar' href="/admin/user"><i class="fa-solid fa-user"></i> {{getLanguage('navbar/admin/{l}/user')}}</a>
                    <a class='navbar' href="/admin/data"><i class="fa-solid fa-database"></i> {{getLanguage('navbar/admin/{l}/data')}}</a>
                </div>
            </li>
            
            {% endif %}
            {% if 'id' in session and session['perms']['links'] == True%}
            
            <li class="dropdown navbar">
                <a href="javascript:void(0)" class="dropbtn navbar"><i class="fa-solid fa-link"></i> Links</a>
                <div class="dropdown-content navbar resetRight">
                    <a class='navbar' href="/stream/add"><i class="fa-solid fa-plus"></i> {{getLanguage('navbar/addSeries/{l}/title')}}</a>
                    <a class='navbar' href="/reports"><i class="fa-solid fa-bug"></i> {{getLanguage('navbar/reports/{l}/title')}}</a>
                </div>
            </li>
            
            {% endif %}
            
        </div>
        <div id="right_block_container" class="{% if 'id' in session %}right_block_container{% else %}right_block_container_login{% endif %}">
            <div class="ym">
                {% if 'id' in session %}
                <li class='navbar' style="float: left;"><a class='navbar' style="cursor: pointer;" onclick="switchNotificationMenu();"><i class="fa fa-bell"></i></a></li>
                <li class="dropdown navbar" id="usermenu" style='float: left;'>
                    <a href="javascript:void(0)" class="dropbtn navbar" style='margin: 0; padding: 0;'><img alt="avatar" src="{% if 'image' in session and session['image'] != '' %}{{session['image']}}{% else %}/rsc/img/avatar/0{% endif %}"></a>
                    <div class="dropdown-content navbar" id="accountdropdownmenu">
                        <a class='navbar' href="/account"><i class="fa-solid fa-user"></i> {{getLanguage('navbar/account/{l}/title')}}</a>
                        <a class='navbar' href="/account/settings"><i class="fa-solid fa-gear"></i> {{getLanguage('navbar/settings/{l}/title')}}</a>
                        <a class='navbar' href="/account/lists"><i class="fa-solid fa-list"></i> {{getLanguage('navbar/lists/{l}/title')}}</a>
                        <a class='navbar' href="/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i> {{getLanguage('navbar/logout/{l}/title')}}</a>
                    </div>
                </li>
                {% else %}
                <div class="logbuttons" style="float: left;">
                    <a href="/login" id="login_button_redirect"><button id="login-button">{{getLanguage('navbar/login/{l}/title')}}</button></a>
                    <a href="/register"><button class="register">{{getLanguage('navbar/register/{l}/title')}}</button></a>
                </div>
                {% endif %}
            </div>
        </div>
    </ul>
    
    {% if 'id' not in session %}
    <!-- Login Redirect Pathname -->
    <script async defer>
        document.getElementById('login_button_redirect').href = '/login?redirect=' + window.location.pathname;
    </script>
    {% endif %}
    
    {% if 'id' in session %}
    <div id="notificationmenu" style="display: none;" class="notificationmenu">
    </div>
    <script async>
        listMenu = document.getElementById('notificationmenu');
        function switchNotificationMenu() {
            if (listMenu.style.display === 'none') {
                listMenu.style.display = 'block';
            } else {
                listMenu.style.display = 'none';
            }
        }
        
        function reloadNotificationList() {
            listMenu.innerHTML = '';
            $.ajax({
                type: "POST",
                url: "/get/notifications_list",
                success: function(data) {
                    notificationlist = data['notifications'];
                    for (notification in notificationlist) {
                        title = notificationlist[notification]['title'];
                        text = notificationlist[notification]['text'];
                        listMenu.innerHTML += '<li><p><b>' + title + '</b><br>' + text + '</p></li><hr>';
                    }
                    listMenu.innerHTML += '<div style="display: flex; justify-content: center;"><a href="/notifications"><span>Show all</span></a></div>';
                }
            });
        }
        reloadNotificationList();
    </script>
    {% endif %}
    
    <div id="navbar-mobile">
        <ul id="mobile-menu" class="mobile-menu">
            <li><a href="/home"><i class="fa-solid fa-home"></i></a></li>
            <li><a href="/index"><i class="fa-solid fa-list"></i></a></li>
            <li><a href="/search"><i class="fa-solid fa-magnifying-glass"></i></a></li>
            
            {% if 'id' in session and session['perms']['links'] == True%}
            <li><a href="/stream/add"><i class="fa-solid fa-plus"></i></a></li>
            {% endif %}
            {% if 'id' in session and session['perms']['admin'] == True%}
            <li><a href="/admin"><i class="fa-solid fa-shield"></i></a></li>
            {% endif %}
            
            <li class="dropdown navbar" style='float: right;' onclick="showaccountdropdownmenu();">
                <a href="javascript:void(0)" class="dropbtn navbar" style='margin: 0; padding: 0;'><i class="fa-solid fa-user"></i></a>
                <div class="dropdown-content navbar" id="accountdropdownmenu">
                    {% if 'id' in session %}
                    <a class='navbar' href="/account">{{getLanguage('navbar/account/{l}/title')}}</a>
                    <a class='navbar' href="/account/settings">{{getLanguage('navbar/settings/{l}/title')}}</a>
                    <a class='navbar' href="/logout">{{getLanguage('navbar/logout/{l}/title')}}</a>
                    {% else %}
                    <a class='navbar' href="/login">{{getLanguage('navbar/login/{l}/title')}}</a>
                    <a class='navbar' href="/register">{{getLanguage('navbar/register/{l}/title')}}</a>
                    {% endif %}
                </div>
            </li>
        </ul>
    </div>    
</header>

{% if 'id' not in session %}
{% include 'resources/login.html' %}
{% endif %}