<!-- Please don't modify this footer content to support the project and
gurantee that this project will get futere updates and patches
and can stay free and public -->

{% autoescape false %}
<footer id="footer" style="background-color: rgba(20, 20, 20, 0.2); text-align: center; padding: 16px 16px; margin-top: 16px;">
    <h3><a href="https://github.com/slayernominee/archangel" style="text-decoration: none; color: white;">{% if 'language' in session %}{{info['language']['footer']['archangel'][session['language']]['build']}}{% else %}{{info['language']['footer']['archangel'][info['defaultlanguage']]['build']}}{% endif %}</a></h3>
    <p style="color: white;">
        {% if 'language' in session %}{{info['language']['footer']['archangel'][session['language']]['support']}}{% else %}{{info['language']['footer']['archangel'][info['defaultlanguage']]['support']}}{% endif %}
    </p>
    <h4><a href="https://github.com/slayernominee/archangel" style="color: white;">{% if 'language' in session %}{{info['language']['footer']['archangel'][session['language']]['repository']}}{% else %}{{info['language']['footer']['archangel'][info['defaultlanguage']]['repository']}}{% endif %}</a></h4>
    <br>
    <p style="color: white; text-decoration: underline; cursor: pointer;" onclick="e = getElementById('additional_information'); e.style.display = 'block';">
        {% if 'language' in session %}{{info['language']['footer']['archangel'][session['language']]['addinfo']}}{% else %}{{info['language']['footer']['archangel'][info['defaultlanguage']]['addinfo']}}{% endif %}
    </p>
    <p style="color: white; display: none;" id='additional_information'>
        {% if 'language' in session %}{{info['language']['footer']['archangel'][session['language']]['addinfoinfo']}}{% else %}{{info['language']['footer']['archangel'][info['defaultlanguage']]['addinfoinfo']}}{% endif %}
    </p>
</footer>
{% endautoescape %}

</html>