<!DOCTYPE html>
<html>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

<title>{{info['name']}}</title>
<meta property="og:title" content="{{info['name']}}">
<meta property="twitter:title" content="{{info['name']}}">

<meta name="description" content="{{info['description']}}">
<meta name="og:description" content="{{info['description']}}">
<meta name="twitter:description" content="{{info['description']}}">

<meta property="og:locale" content="en_GB">
<meta property="og:locale:alternate" content="en_US">
<meta property="og:locale:alternate" content="de_DE">

<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="{{info['favicon']}}">
<link rel="apple-touch-icon" type="image/png" href="{{info['favicon']}}">
<link rel="icon" href="{{info['favicon']}}">

<meta name="twitter:image" content="{{info['logo']}}">
<meta name="og:image" content="{{info['logo']}}">

<meta name="theme-color" content="{{info['theme_color']}}">

<!-- Theme -->
{% if 'theme' in session %}
<link rel="stylesheet" href="/rsc/theme/{{session['theme']}}">
{% else %}
<link rel="stylesheet" href="/rsc/theme/default">
{% endif %}

<!-- CSS Files -->
<link rel="stylesheet" href="/rsc/css/default">
<link rel="stylesheet" href="/rsc/css/design">
<link rel="stylesheet" href="/rsc/css/input">
<link rel="stylesheet" href="/rsc/css/flair">

<!-- Default JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/rsc/js/notifications"></script>

{% include 'resources/messages.html' %}

