<!DOCTYPE html>
<html>

<title>{{info['name']}}</title>

<link rel="apple-touch-icon" href="{{info['favicon']}}">
<link rel="icon" href="{{info['favicon']}}">
<meta name="twitter:image" content="{{info['favicon']}}">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

<link rel="stylesheet" href="/rsc/theme/dark_blue">

<!-- CSS Files -->

<link rel="stylesheet" href="/rsc/css/default">


<link rel="stylesheet" href="/rsc/css/design">
<link rel="stylesheet" href="/rsc/css/input">
<link rel="stylesheet" href="/rsc/css/flair">


<!-- Default JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="/rsc/js/notifications"></script>

{% include 'resources/messages.html' %}

