
<script>
    // collapse info
    function collapse() {
        document.getElementById('info').style.display = 'none';
        document.getElementById('decollapse-button').style.display = 'block';
    }
    // decolapse info
    function decollapse() {
        document.getElementById('info').style.display = 'block';
        document.getElementById('decollapse-button').style.display = 'none';
    }
</script>

<style>
    #info {
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('{{seriesinfo['banner']}}');
    }
</style>

<div id="decollapse-button">
    <button style="float: right; cursor: pointer; " onclick="decollapse();"><i class="fa-solid fa-arrow-down"></i></button>
    <br>
</div>
<div id="info" style="position: relative; z-index: 0;">
    <div id="score" class="seriesinfo-score" style="margin: 4vh;">
        <button onclick="document.location.href='/stream/{{seriesinfo['id']}}/1/1'">
            <h3>{% if 'language' in session %}{{info['language']['stream']['info_box'][session['language']]['watch']}}{% else %}{{info['language']['stream']['info_box'][info['defaultlanguage']]['watch']}}{% endif %}</h3>
        </button>
        {% if 'id' in session %}
        <button id="subscribe_button" onclick="subscribeButton();" class="transparent" style="height: 5vh;">
            {% if subscribed == True %}
            <h3>{% if 'language' in session %}{{info['language']['stream']['info_box'][session['language']]['unsubscribe']}}{% else %}{{info['language']['stream']['info_box'][info['defaultlanguage']]['unsubscribe']}}{% endif %}</h3>
            {% else %}
            <h3>{% if 'language' in session %}{{info['language']['stream']['info_box'][session['language']]['subscribe']}}{% else %}{{info['language']['stream']['info_box'][info['defaultlanguage']]['subscribe']}}{% endif %}</h3>
            {% endif %}
        </button>
        <script>
            function subscribeButton() {
                e = document.getElementById('subscribe_button');
                if (e.innerHTML === "<h3>{% if 'language' in session %}{{info['language']['stream']['info_box'][session['language']]['unsubscribe']}}{% else %}{{info['language']['stream']['info_box'][info['defaultlanguage']]['unsubscribe']}}{% endif %}</h3>") {
                    $.ajax({
                        type: "POST",
                        url: "/background/unsubscribe_series",
                        data: {
                            series: "{{seriesinfo['id']}}"
                        },
                        success: function(data) {
                            e.innerHTML = "<h3>{% if 'language' in session %}{{info['language']['stream']['info_box'][session['language']]['subscribe']}}{% else %}{{info['language']['stream']['info_box'][info['defaultlanguage']]['subscribe']}}{% endif %}</h3>";
                        }
                    })
                } else {
                    $.ajax({
                        type: "POST",
                        url: "/background/subscribe_series",
                        data: {
                            series: "{{seriesinfo['id']}}"
                        },
                        success: function(data) {
                            e.innerHTML = "<h3>{% if 'language' in session %}{{info['language']['stream']['info_box'][session['language']]['unsubscribe']}}{% else %}{{info['language']['stream']['info_box'][info['defaultlanguage']]['unsubscribe']}}{% endif %}</h3>";
                        }
                    })
                }
                
            }
        </script>
        {% else %}
        <button onclick="sendNotification('warning', 'Login Required', 'You must be logged in to access this feature. Here you can <a href=\'/login\'>login</a> or <a href=\'/register\'>register</a>.');" class="transparent" style="height: 5vh;">
            <h3>{% if 'language' in session %}{{info['language']['stream']['info_box'][session['language']]['subscribe']}}{% else %}{{info['language']['stream']['info_box'][info['defaultlanguage']]['subscribe']}}{% endif %}</h3>
        </button>
        {% endif %}
        {% if 'id' in session %}
        <button onclick="alert('comming soon');" class="transparent" style="height: 5vh;">
            <h3>{% if 'language' in session %}{{info['language']['stream']['info_box'][session['language']]['watchlist']}}{% else %}{{info['language']['stream']['info_box'][info['defaultlanguage']]['watchlist']}}{% endif %}</h3>
        </button>
        {% else %}
        <button onclick="sendNotification('warning', 'Login Required', 'You must be logged in to access this feature. Here you can <a href=\'/login\'>login</a> or <a href=\'/register\'>register</a>.');" class="transparent" style="height: 5vh;">
            <h3>{% if 'language' in session %}{{info['language']['stream']['info_box'][session['language']]['watchlist']}}{% else %}{{info['language']['stream']['info_box'][info['defaultlanguage']]['watchlist']}}{% endif %}</h3>
        </button>
        {% endif %}
        <button onclick="" class="transparent" style="cursor: default;">
            <br>
            <h3>{% if 'language' in session %}{{info['language']['stream']['info_box'][session['language']]['rating']}}{% else %}{{info['language']['stream']['info_box'][info['defaultlanguage']]['rating']}}{% endif %}</h3>
            <h4>N/A⭐</h4>
            <span style="font-size: x-small;">{% if 'language' in session %}{{info['language']['stream']['info_box'][session['language']]['rating_base'].replace('{count}', 'N/A')}}{% else %}{{info['language']['stream']['info_box'][info['defaultlanguage']]['rating_base'].replace('{count}', 'N/A')}}{% endif %}</span>
        </button>
    </div>
    <h1>{% if seriesinfo['name'][0] == '-' %}
        {{seriesinfo['name'][1:]}}
        {% else %}
        {{seriesinfo['name']}}
        {% endif %}
        {% if seriesinfo['startyear'] not in [None, '', -1] and seriesinfo['endyear'] not in [None, '', -1] %}
        ({{seriesinfo['startyear']}}-{{seriesinfo['endyear']}})
        {% elif seriesinfo['startyear'] not in [None, '', -1] and seriesinfo['endyear'] in [None, '', -1] %}
        ({{seriesinfo['startyear']}})
        {% elif seriesinfo['endyear'] not in [None, '', -1] and seriesinfo['startyear'] in [None, '', -1] %}
        (?-{{seriesinfo['endyear']}})
        {% endif %}
    </h1>
    <div id="image" style="float: left; margin-right: 15px;">
        <img src="{{seriesinfo['image']}}" style="overflow: hidden;">
    </div>
    <div id="synphosis">
        <p id="shortdescription" style="font-size: large; font-style: italic;">{% if seriesinfo['description'] != '' %}
            {% if seriesinfo['description'] | length > 2000 %}
            {{seriesinfo['description'][:2000]}}
            <a id="showfulldescriptionbutton" style="text-decoration: underline;" onclick="showFullDescription();">... more</a>
            {% else %}
            {{seriesinfo['description']}}
            {% endif %}
            {% else %}{% if 'language' in session %}{{info['language']['stream']['info'][session['language']]['no_desc']}}{% else %}{{info['language']['stream']['info'][info['defaultlanguage']]['no_desc']}}{% endif %}{% endif %}
        </p>
        <p id="fulldescription" style="font-size: large; font-style: italic; display: none;">{{seriesinfo['description']}}</p>
    </div>
    
    <div id="tags">
        <div id="alternative_names" style="margin-bottom: 5px; display: none;">
            <li class="tagName">{% if 'language' in session %}{{info['language']['stream']['info'][session['language']]['alternative']}}{% else %}{{info['language']['stream']['info'][info['defaultlanguage']]['alternative']}}{% endif %}: </li>
            <li class="tagWord">{{seriesinfo['name']}}</li>
            
            {% for alternative_name in seriesinfo['alternative'] %}
            <li class="tagWord">{{alternative_name}}</li>
            {% endfor %}
            
        </div>
        <div id="genres" style="margin-bottom: 5px;">
            <li class="tagName">{% if 'language' in session %}{{info['language']['stream']['info'][session['language']]['genres']}}{% else %}{{info['language']['stream']['info'][info['defaultlanguage']]['genres']}}{% endif %}: </li>
            {% for genre in range(seriesinfo['genres']|length) %}
            {% if genre > 7 %}
            <a href="/genre/{{seriesinfo['genres'][genre]}}">
                <li class="tag" style="display: none;" id="genre-{{genre}}">
                    {{seriesinfo['genres'][genre]}}
                </li>
            </a>
            {% else %}
            <a href="/genre/{{seriesinfo['genres'][genre]}}">
                <li class="tag" id="genre-{{genre}}">
                    {{seriesinfo['genres'][genre]}}
                </li>
            </a>
            {% endif %}
            {% endfor %}
            {% if seriesinfo['genres']|length > 8 %}
            <li class="tag" id="showall" onclick="{% for id in range(seriesinfo['genres']|length) %}document.getElementById('genre-{{id}}').style.display = 'block';{% endfor %}document.getElementById('showall').style.display = 'none';">
                &{{seriesinfo['genres']|length - 8}} more
            </li>
            {% endif %}
            
        </div>
        <div id="subgenres" style="margin-bottom: 5px; display: none;">
            <li class="tagName">{% if 'language' in session %}{{info['language']['stream']['info'][session['language']]['subgenres']}}{% else %}{{info['language']['stream']['info'][info['defaultlanguage']]['subgenres']}}{% endif %}: </li>
            {% for genre in range(seriesinfo['subgenres']|length) %}
            {% if genre > 7 %}
            <a href="/subgenre/{{seriesinfo['subgenres'][genre]}}">
                <li class="tag" style="display: none;" id="subgenre-{{genre}}">
                    {{seriesinfo['subgenres'][genre]}}
                </li>
            </a>
            {% else %}
            <a href="/subgenre/{{seriesinfo['subgenres'][genre]}}">
                <li class="tag" id="subgenre-{{genre}}">
                    {{seriesinfo['subgenres'][genre]}}
                </li>
            </a>
            {% endif %}
            {% endfor %}
            {% if seriesinfo['subgenres']|length > 8 %}
            <li class="tag" id="sub-showall" onclick="{% for id in range(seriesinfo['subgenres']|length) %}document.getElementById('subgenre-{{id}}').style.display = 'block';{% endfor %}document.getElementById('sub-showall').style.display = 'none';">
                &{{seriesinfo['subgenres']|length - 8}} more
            </li>
            {% endif %}
            
        </div>
        <div id="staff" style="margin-bottom: 5px;">
            <li class="tagName">{% if 'language' in session %}{{info['language']['stream']['info'][session['language']]['staff']}}{% else %}{{info['language']['stream']['info'][info['defaultlanguage']]['staff']}}{% endif %}: </li>
            {% for genre in range(seriesinfo['stuff']|length) %}
            {% if genre > 7 %}
            <a href="/staff/{{seriesinfo['stuff'][genre]}}">
                <li class="tag" style="display: none;" id="staff-{{genre}}">
                    {{seriesinfo['stuff'][genre]}}
                </li>
            </a>
            {% else %}
            <a href="/staff/{{seriesinfo['stuff'][genre]}}">
                <li class="tag" id="staff-{{genre}}">
                    {{seriesinfo['stuff'][genre]}}
                </li>
            </a>
            {% endif %}
            {% endfor %}
            {% if seriesinfo['stuff']|length > 8 %}
            <li class="tag" id="staff-showall" onclick="{% for id in range(seriesinfo['stuff']|length) %}document.getElementById('staff-{{id}}').style.display = 'block';{% endfor %}document.getElementById('staff-showall').style.display = 'none';">
                &{{seriesinfo['stuff']|length - 8}} more
            </li>
            {% endif %}
        </div>
        
        {% if seriesinfo['studio'] != '' %}
        <div id="studio" style="margin-bottom: 5px;">
            <li class="tagName">{% if 'language' in session %}{{info['language']['stream']['info'][session['language']]['studio']}}{% else %}{{info['language']['stream']['info'][info['defaultlanguage']]['studio']}}{% endif %}: </li>
            <li class="tag">
                <a href="/studio/{{seriesinfo['studio']}}">{{seriesinfo['studio']}}</a>
            </li>
        </div>
        {% endif %}
        
        {% if seriesinfo['country'] != '' %}
        <div id="country" style="margin-bottom: 5px;">
            <li class="tagName">{% if 'language' in session %}{{info['language']['stream']['info'][session['language']]['country']}}{% else %}{{info['language']['stream']['info'][info['defaultlanguage']]['country']}}{% endif %}: </li>
            <li class="tag">
                <a href="/country/{{seriesinfo['country']}}">{{seriesinfo['country']}}</a>
            </li>
        </div>
        {% endif %}
    </div>
    <div id="seriesinfo-buttons">
        <button id="collapse-button" onclick="collapse();"><i class="fa-solid fa-arrow-up"></i></button>
        {% if 'id' in session and session['perms']['links'] == True %}
        <button id="edit-info-button" onclick="window.location.href = '/stream/edit?id={{seriesinfo['id']}}'"><i class="fa fa-pen"></i></i></button>
        <button id="edit-info-button" onclick="deleteSeries();"><i class="fa fa-trash"></i></button>
        <script>
            function deleteSeries() {
                if (document.getElementById('delete-series-confirm') === null) {
                    warning = `<div class="Message Message--orange" id="delete-series-confirm">
                        <div class="Message-icon">
                            <i class="fa fa-exclamation"></i>
                        </div>
                        <div class="Message-body">
                            <p>Are you sure you want to delete this Series?</p>
                            <p class="u-italic">If you click on delete, this cant be undone!</p>
                            <button class="Message-button" onclick="document.getElementById('delete-series-confirm').style.display = 'none';">Cancel</button>
                            <button class="Message-button" onclick="finalDelete();">Delete</button>
                        </div>
                        <button class="Message-close js-messageClose" onclick="document.getElementById('delete-series-confirm').style.display = 'none';"><i class="fa fa-times"></i></button>
                    </div>`
                    messages.innerHTML += warning;
                } else {
                    document.getElementById('delete-series-confirm').style.display = 'block';
                }
            }
            function finalDelete() {
                $.ajax({
                    type: "POST",
                    url: "/stream/delete",
                    data: {
                        id: "{{seriesinfo['id']}}"
                    },
                    success: function(data){
                        window.location.href = '/index';
                    },
                    error: function(data){
                        sendNotification('error', 'Unknown Error occured', 'A unknown error occured!', 15000);
                    }
                })
            }
        </script>
        {% endif %}
    </div>
    <button onclick="showAdvancedSeriesInfos();" id="series-more-button">more <i class="fa-solid fa-chevron-down"></i></button>
    <button onclick="hideAdvancedSeriesInfos();" id="series-less-button">less <i class="fa-solid fa-chevron-up"></i></button>
</div>

<script async defer>
    function showAdvancedSeriesInfos() {
        document.getElementById('subgenres').style.display = 'block';
        document.getElementById('alternative_names').style.display = 'block';
        document.getElementById('series-more-button').style.display = 'none';
        document.getElementById('series-less-button').style.display = 'block';
    }
    function hideAdvancedSeriesInfos() {
        document.getElementById('subgenres').style.display = 'none';
        document.getElementById('alternative_names').style.display = 'none';
        document.getElementById('series-more-button').style.display = 'block';
        document.getElementById('series-less-button').style.display = 'none';
    }
    function showFullDescription() {
        document.getElementById('shortdescription').style.display = 'none';
        document.getElementById('showfulldescriptionbutton').style.display = 'none';
        document.getElementById('fulldescription').style.display = 'block';
    }
</script>

<!-- Style -->
<link rel="stylesheet" href="/rsc/css/tags">
<link rel="stylesheet" media="screen and (min-width: 601px)" href="/rsc/css/stream">
<link rel="stylesheet" media="screen and (max-width: 600px)" href="/rsc/css/stream_600">
<!-- -->