{% include 'resources/header.html' %}
{% include 'resources/navigationbar.html' %}

<style>
    #login {
        position: relative;
        text-align: center;
        top: 30vh;
    }
</style>
<body>
<div id='login'>
    <form method="post">
        <input type="hidden" name='username' value="{{username}}">
        <br>
        <input type="hidden" name='pwd' value="{{pwd}}">
        <br>
        <input pattern="[0-9]*" inputmode="numeric" type="number" name='2fa' placeholder="Your 2FA Code">
        <br>
        <input type='submit'>
    </form>
</div>
</body>

<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>

{% include 'resources/footer.html' %}
