{% include 'resources/header.html' %}
{% include 'resources/navigationbar.html' %}

<script src="/rsc/js/parameter"></script>

<style>
    #login {
        position: relative;
        text-align: center;
        top: 30vh;
    }
</style>
<body>
<div id='login'>
    <form method="post">
        <input id="redirect_url" type="hidden" name="redirect" value="">
        <input type="text" name='user' placeholder="Username/E-Mail" autocomplete="email">
        <br>
        <input type="password" name='pwd' placeholder="Password" autocomplete="current-password">
        <br>
        <input type='submit'>
    </form>
</div>
</body>

{% if error %}
<script>
    sendNotification('error', 'Wrong Login Data', 'The Login data you have used seems to be wrong! Please check if you wrote everything correctly.<br>If you want to create a Account please <a href="/register">register</a>.', 10000);
</script>
{% endif %}

<script>
    r = findGetParameter('redirect');
    document.getElementById('redirect_url').value = r;
</script>

<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>

{% include 'resources/footer.html' %}
