{% include 'resources/header.html' %}
{% include 'resources/navigationbar.html' %}

<title>{{info['name']}} • Register</title>
<meta property="og:title" content="{{info['name']}} • Register">
<meta property="twitter:title" content="{{info['name']}} • Register">

<meta name="description" content="{{info['description']}}">
<meta name="og:description" content="{{info['description']}}">
<meta name="twitter:description" content="{{info['description']}}">

<meta name="twitter:image" content="{{info['logo']}}">
<meta name="og:image" content="{{info['logo']}}">

<h1>Register</h1>

<style>
    #register {
        position: relative;
        text-align: center;
        top: 15vh;
    }
</style>
<body>
<div id='register'>
    <form id="register-form" method="post" action="/register">
        <input type="text" required name='username' placeholder="Username" autocomplete="username">
        <br>
        <input id="mail" type="text" required name='mail' placeholder="E-Mail" autocomplete="email">
        <br>
        <input id="pwd-1" required type="password" name='password' minlength="6" placeholder="Password" autocomplete="new-password">
        <br>
        <input id="pwd-2" required type="password" name='password2' minlength="6" placeholder="Retype Password" autocomplete="current-password">
        <br>
        <input type='submit'>
    </form>
</div>
</body>

<script> 
    $('#register-form').submit(function (e) {
        mail = document.getElementById('mail');
        if (mail.value.includes('@')) {
            mail.style.border = '2px black solid';
        } else {
            mail.style.border = '2px red solid';
            mail.value = '';
            mail.placeholder = 'Invalid Mail Adress!';
            e.preventDefault();
        }

        pwd1 = document.getElementById('pwd-1').value;
        pwd2 = document.getElementById('pwd-2').value;
        if (pwd1 === pwd2) {
            pw2 = document.getElementById('pwd-2');
            pw2.style.border = '2px black solid';
        } else {
            pw2 = document.getElementById('pwd-2');
            pw2.style.border = '2px red solid';
            pw2.value = '';
            pw2.placeholder = 'Incorrect Password!'
            e.preventDefault();
        }
        
    });
</script>

<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>

{% if usernametaken %}
<script async>
    sendNotification('error', 'Username already used', 'The Username you have requested is already used by an other user!', 5000);
</script>
{% elif mailtaken %}
<script async>
    sendNotification('error', 'E-Mail already used', 'The E-Mail you have requested is already used by an other user!', 5000);
</script>
{% endif %}


{% include 'resources/footer.html' %}