{% include 'resources/header.html' %}
{% include 'resources/navigationbar.html' %}

<title>{{info['name']}} • 2 FA Configuration</title>
<meta property="og:title" content="{{info['name']}} • 2 FA Configuration">
<meta property="twitter:title" content="{{info['name']}} • 2 FA Configuration">

<meta name="description" content="{{info['description']}}">
<meta name="og:description" content="{{info['description']}}">
<meta name="twitter:description" content="{{info['description']}}">

<meta name="twitter:image" content="{{info['logo']}}">
<meta name="og:image" content="{{info['logo']}}">

<script src="/rsc/js/qr"></script>

<h1>2 FA Configuration</h1>

<div style="text-align: center;">
    <div style="display: flex; justify-content: center;">
        <div id="qrcode"></div>
    </div>
    
    <a href="{{fa['link']}}"><h2>Add To Password Manager</h2></a>
    
    <script>
        var qrcode = undefined;
        qrcode = new QRCode(document.getElementById('qrcode'), "{{fa['link']}}");
    </script>
    <br><br>
    
    {% include 'resources/2fa.html' %}

</div>

{% include 'resources/footer.html' %}