{% include 'resources/header.html' %}
{% include 'resources/navigationbar.html' %}

<link rel="stylesheet" href="/rsc/css/subscribed">

<h1>Subscribtions</h1>

<div id="subscribtions" class="subscribtion_list">
    {% for serie in series %}
    <a href="/stream/{{serie['id']}}">
        <li style="background-image: url({{serie['banner']}});">
            <img alt="serie-cover" src="{{serie['image']}}">
            <button class="unsubscribe" onclick="unsubscribe({{serie['id']}});">{% if 'language' in session %}{{info['language']['stream']['info_box'][session['language']]['unsubscribe']}}{% else %}{{info['language']['stream']['info_box'][info['defaultlanguage']]['unsubscribe']}}{% endif %}</button>
            <h2>
                {% if serie['name'].startswith('-') %}
                {{serie['name'][1:]}}
                {% else %}
                {{serie['name']}}
                {% endif %}
            </h2>
            <p>{{serie['description']}}</p>
        </li>
    </a>
    {% endfor %}
</div>

<script>
    function unsubscribe(series) {
        $.ajax({
            type: "POST",
            url: "/background/unsubscribe_series",
            data: {
                series: series
            },
            success: function(data) {
                window.location.reload();
            }
        })
    }
</script>


{% include 'resources/footer.html' %}