{% from "resources/macros.jinja" import getLanguage with context %}

{% include 'resources/header.html' %}
{% include 'resources/navigationbar.html' %}

<script>
    // title
    document.title = '{{info["name"]}} - Index'
</script>

<link rel="stylesheet" href="/rsc/css/index">

<h1>{{getLanguage('index/series/{l}/title')}}</h1>

<p style="text-align: center;">{{getLanguage('index/series/{l}/description')}}</p><br>

<div id="toogle_index_layout">
    <button class="layout_switch_button" onclick="sw_tile();">Tiling Style</button>
    or
    <button class="layout_switch_button" onclick="sw_list();">List Style</button>
    |
    <button class="layout_switch_button" onclick="window.location.href='?sort=abc';">ABC</button>
    or
    <button class="layout_switch_button" onclick="window.location.href='?sort=genre';">Genre</button>
    or
    <button class="layout_switch_button" onclick="window.location.href='?sort=year';">Year</button>
</div>

<div id="index">
    {% for i in series %}
    {% if series[i] | length != 0 %}
    <div id="{{i}}" style="padding: 5px;">
        <h2 class="index_area">{% if i == '-1' %}N/A{% elif i | length == 1 %}{{i.upper()}}{% else %}{{i}}{% endif %}</h2>
        <div class="index_area_space">
            {% for serie in series[i] %}
            <a style="text-decoration: none;" href="/stream/{{serie['seriesurlobject']}}/{{getLanguage('links/elements/{l}/season')}}1/{{getLanguage('links/elements/{l}/episode')}}1"><li style="background-image: url({{serie['image']}});">
                <h3>
                    {% if serie['name'].startswith('-') %}{{serie['name'][1:]}}{% else %}{{serie['name']}}{% endif %}
                </h3>
            </li></a>
            {% endfor %}
        </div>
        
    </div>
    {% endif %}
    {% endfor %}
</div>


<div id="index-list">
    {% for i in series %}
    <h2>{% if i | length == 1 %}{{i.upper()}}{% else %}{{i}}{% endif %}</h2>
    <div id="index-{{i}}" style="padding: 5px;">
        {% for serie in series[i] %}
        <p style="padding-top: 5px;"><a style="text-decoration: none;" href="/stream/{{serie['id']}}/{{getLanguage('links/elements/{l}/season')}}1/{{getLanguage('links/elements/{l}/episode')}}1">• {% if serie['name'].startswith('-') %}{{serie['name'][1:]}}{% else %}{{serie['name']}}{% endif %}</a></p>
        {% endfor %}
    </div>
    {% endfor %}
</div>

<script async>
    tile_index = document.getElementById('index');
    list_index = document.getElementById('index-list');

    function sw_tile() {
        list_index.style.display = 'none';
        tile_index.style.display = 'block';
    }
    function sw_list() {
        tile_index.style.display = 'none';
        list_index.style.display = 'block';
    }
</script>

{% include 'resources/footer.html' %}