{% include 'resources/header.html' %}
{% include 'resources/navigationbar.html' %}

<div id="other-admin-settings">
    <h1>Other Admin Settings</h1>
    <div style="display: flex; justify-content: center; flex-wrap: wrap;">
        <a href="/admin/user"><button>User Management</button></a>
    </div>
    
</div>

<div id="settings" style="padding-left: 5vw; padding-right: 5vw; text-align: center;">
    <h1>{{info['language']['admin']['settings'][session['language']]['title']}}</h1>
    <br>
    <div id="language">
        <h3>{{info['language']['admin']['settings']['language'][session['language']]['title']}} (<none id="language-update">{{info['defaultlanguage']}}</none>)</h3>

        <button onclick="change('language','en');">{{info['language']['admin']['settings']['language'][session['language']]['en']}}</button>
        <button onclick="change('language','de');">{{info['language']['admin']['settings']['language'][session['language']]['de']}}</button>
    </div>    
</div>


<script>
    function change(key, value) {
        $.ajax({
            type: "POST",
            url: "/admin",
            data: {
                value: value,
                key: key
            },
            success: function(data) {
                console.log(data);
                updateE = document.getElementById(key + '-update');
                if (updateE !== null) {
                    updateE.innerHTML = value;
                }
            }
        });
        checkNotifications();
    }
</script>

{% include 'resources/footer.html' %}