{% include 'resources/header.html' %}
{% include 'resources/navigationbar.html' %}

<title>{{info['name']}} • Add Season</title>
<meta property="og:title" content="{{info['name']}} • Add Season">
<meta property="twitter:title" content="{{info['name']}} • Add Season">

<meta name="description" content="{{info['description']}}">
<meta name="og:description" content="{{info['description']}}">
<meta name="twitter:description" content="{{info['description']}}">

<meta name="twitter:image" content="{{info['logo']}}">
<meta name="og:image" content="{{info['logo']}}">

<h1>{{series['name']}} - Add Season</h1>

<div id="add_season" style="text-align: center;">
    <form id="add_season_form" method="POST">
        <p id="error" style="display: none; color: red;">MSG</p>
        <input id="number" required name="number" type="number" min=0 placeholder="Season Number in the Series (use 0 for films)" value=1>
        <br>
        <input name="name" type="text" placeholder="Name of this Season">
        <br>
        <textarea name="description" placeholder="A description of this season (optional)"></textarea>
        <br>
    </form>
    <button onclick="submitCheck();">Add</button>
    <script>
        var alreadyExisting = [{% for season in series['seasons'] %}'{{season}}',{% endfor %}];
        console.log(alreadyExisting);
        function submitCheck() {
            e = document.getElementById('number');
            if (alreadyExisting.includes(String(e.value))) {
                numberI = document.getElementById('number');
                numberI.style.border = '2px solid red';
                error = document.getElementById('error')
                error.style.display = 'block';
                error.innerHTML = 'The number ' + e.value + ' does already exists! - Please choose a different one!'
            } else {
                f = document.getElementById('add_season_form');
                f.submit();
            }
        }
    </script>
</div>

{% include 'resources/footer.html' %}