:root {
    --accent-color: rgb(174, 107, 250);
    --accent-color-2: rgb(129, 129, 218);
    --accent-color-2-darker: rgba(109, 109, 198, 1);
    --accent-color-2-lighter: rgb(127, 127, 175);

    --background-color: rgba(230, 230, 230, 1);
    --background-color-2: rgba(210, 210, 210, 1);

    --watched: rgb(81, 184, 60);
    --watched-active: rgb(61, 156, 35);

    --text-color: rgba(0, 0, 0, 1);

    --navbar-color: rgba(129, 129, 218, 0.95);
    --navbar-text-color: var(--text-color);
    --navbar-hover-color: var(--accent-color);

    --notification-background-color: rgba(129, 129, 218, 0.95);

    /*
    --stream-box-color: rgba(45, 65, 80, 0.288);
    */

    --overlay-dark-low: rgba(0, 0, 0, 0.25);
    --overlay-dark: rgba(255, 255, 255, 0.15);
    --overlay-dark-x: rgba(255, 255, 255, 0.3);
    --overlay-dark-xx: rgba(255, 255, 255, 0.6);
    --overlay-dark-xxx: rgba(255, 255, 255, 1);
    
}