{% include 'resources/header.html' %}
{% include 'resources/navigationbar.html' %}

<title>{{info['name']}} • Page Not Found</title>
<meta property="og:title" content="{{info['name']}} • Page Not Found">
<meta property="twitter:title" content="{{info['name']}} • Page Not Found">

<meta name="description" content="{{info['description']}}">
<meta name="og:description" content="{{info['description']}}">
<meta name="twitter:description" content="{{info['description']}}">

<meta name="twitter:image" content="{{info['logo']}}">
<meta name="og:image" content="{{info['logo']}}">

<script>
    setTimeout(function(){
            window.location.href = '/home';
    }, 4000);
</script>

{% autoescape false %}
<h1>{% if 'language' in session %}{{info['language']['error']['404'][session['language']]['title']}}{% else %}{{info['language']['error']['404'][info['defaultlanguage']]['title']}}{% endif %}</h1>
<br><br>
<p style='text-align: center;'>
    {% if 'language' in session %}{{info['language']['error']['404'][session['language']]['text']}}{% else %}{{info['language']['error']['404'][info['defaultlanguage']]['text']}}{% endif %}
</p>
{% endautoescape %}


<br><br><br><br><br><br>
<br><br><br><br><br><br>
<br><br><br><br><br><br>
<br><br><br><br><br><br>
<br><br><br><br><br><br>
<br><br><br><br><br><br>


{% include 'resources/footer.html' %}