{% include 'resources/header.html' %}
{% include 'resources/navigationbar.html' %}

<title>{{info['name']}} • Login</title>
<meta property="og:title" content="{{info['name']}} • Login">
<meta property="twitter:title" content="{{info['name']}} • Login">

<meta name="description" content="{{info['description']}}">
<meta name="og:description" content="{{info['description']}}">
<meta name="twitter:description" content="{{info['description']}}">

<meta name="twitter:image" content="{{info['logo']}}">
<meta name="og:image" content="{{info['logo']}}">

<div style="margin-top: 30vh;">
{% include 'resources/2fa.html' %}
</div>

<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>

{% include 'resources/footer.html' %}
